[Unit]
Description=Manage swap spaces on zram, files and partitions.
After=local-fs.target
RequiresMountsFor=/
RequiresMountsFor=/run
RequiresMountsFor=/sys
RequiresMountsFor=/var

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-swap start
ExecStop=/usr/bin/systemd-swap stop
TimeoutStopSec=600
Nice=-19
OOMScoreAdjust=-1000
CPUAccounting=true
ProtectHome=read-only
PrivateNetwork=yes
PrivateDevices=yes
PrivateTmp=yes
CapabilityBoundingSet=CAP_SYS_ADMIN

[Install]
WantedBy=local-fs.target
