[Unit]
Description=Manage swap spaces on zram, files and partitions.
After=local-fs.target
RequiresMountsFor=/
RequiresMountsFor=/run
RequiresMountsFor=/sys
RequiresMountsFor=/var

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-swap start
ExecStop=/usr/bin/systemd-swap stop
TimeoutStopSec=600
Nice=-19
OOMScoreAdjust=-1000
CPUAccounting=true
CapabilityBoundingSet=CAP_SYS_ADMIN
IPAddressDeny=any
NoNewPrivileges=true
ProtectHome=read-only
PrivateNetwork=yes
PrivateDevices=yes
PrivateTmp=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
SystemCallFilter=@system-service @swap

[Install]
WantedBy=local-fs.target
