[Unit]
Description=Manage swap spaces on zram, files and partitions.
After=local-fs.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/systemd-swap.sh start
ExecStop=/usr/lib/systemd/scripts/systemd-swap.sh  stop

[Install]
WantedBy=local-fs.target