[Unit]
Description=Manage swap spaces on zram, files and partitions.
Wants=modprobe@zram.service
After=modprobe@zram.service

[Service]
Type=notify
ExecStart=/usr/bin/systemd-swap start
ExecStop=/usr/bin/systemd-swap stop
RemainAfterExit=yes
TimeoutStopSec=600
OOMScoreAdjust=-500
CapabilityBoundingSet=CAP_SYS_ADMIN
DeviceAllow=block-blkext r
DeviceAllow=block-device-mapper r
DeviceAllow=block-loop
DeviceAllow=block-sd r
DeviceAllow=block-virtblk r
DeviceAllow=block-zram
IOSchedulingPriority=2
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectProc=invisible
ProtectSystem=full
RestrictNamespaces=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service @swap

[Install]
WantedBy=multi-user.target
